<form method="post" action="/posts">
  <h1>New Post</h1>
  <label for="name">Name</label><br>
  <input name="name"><br>
  <label for="content">Content </label> <br>
  <textarea name="content"></textarea>
  <button type="submit" value="submit">Submit </button>
</form>
